body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  display: block;
}

/*====================================================================*/
/*Game Field*/
/*====================================================================*/
#game-field {


}

.target-swatch {
  border: 3px solid #abb2b9;
  border-radius: 50%;
  width: 75px;
  height: 75px;
  padding: 10px;
  transform: translate(150%, 30%);
}

section#left-and-right-field {
  display: flex;
}


.left-field   {
  opacity: .5;
  border: 3px solid #abb2b9;
  border-radius: 50%;
  margin: 5px;
  width: 200px;
  height: 200px;
  padding: 10px;
  /*mix-blend-mode ensures the colors blend properly*/
  mix-blend-mode: multiply;
  /*transform: translate(15%, 25%);*/
}


.right-field  {
  opacity: .5;
  border: 3px solid #abb2b9;
  border-radius: 50%;
  margin: 5px;
  width: 200px;
  height: 200px;
  padding: 10px;
  /*mix-blend-mode ensures the colors blend properly*/
  mix-blend-mode: multiply;
  transform: translate(-41%, 0%);
}

#color-bubble-tray  > span {
  width: 80px;
  height: 80px;
  border: 3px solid  #abb2b9;
  text-align: center;
  margin: 0 0 10px 0;
}

.bubble {
  border-radius: 50%;
  opacity: .5;
  display: inline-block;
}

.bubble:hover {
  animation: pop 0.4s linear 1;
  opacity: .7;
}

#bubble00 {
  background-color: red;
}

#bubble01 {
  background-color: orange;
}

#bubble02 {
  background-color: yellow;
}

#bubble03 {
  background-color: green;
}

#bubble04 {
  background-color: blue;
}

#bubble05 {
  background-color: purple;
}
