@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: repeat;
  /*background-image: url("/images/struckaxiom/struckaxiom.png");*/
  /*background-color: #f1f1f1;*/
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.twohue {
  box-sizing: border-box;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  background-color: #fff;
  padding: 1rem;
}

button {
  display: inline-block;
  border: none;
  border-radius: 25px;
  padding: .5rem 1.5rem;
}

h1 {
  font: 2.5rem 'Oleo Script', cursive;
  color: #a6a6a6;
  text-align: left;
  margin-top: 4px;
  margin-bottom: 4px;
}


/*=======================*/
/*Game Field*/
/*=======================*/
#game-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  max-width: 100%;
  /*border: 1px solid #333;*/
}

.target-swatch {
  box-sizing: border-box;
  margin: 0 auto;
  border: 3px solid #abb2b9;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
}

section#left-and-right-field {
  box-sizing: border-box;
  /*display: flex;*/
  justify-content: center;
  margin: 0 auto;
  /*border: 1px solid red;*/
  height: 15rem;
}


.field   {
  box-sizing: border-box;
  opacity: .5;
  border: 3px solid #abb2b9;
  width: 16rem;
  height: 16rem;
  /*mix-blend-mode ensures the colors blend properly*/
  mix-blend-mode: multiply;
  border-radius: 50%;
  margin: 0 auto;
}

#left-field   {
  transform: translate(-38%, -8%);
}

#right-field  {
  transform: translate(38%, -108%);
}

#color-bubble-tray {
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.bubble {
  width: 5rem;
  height: 5rem;
  border: 3px solid  #abb2b9;
  text-align: center;
  border-radius: 50%;
  opacity: .5;
}

.bubble:hover {
  animation: pop 0.4s linear 1;
  opacity: .7;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.footer-link {
  margin-top: 10px;
  position: relative;
  bottom: 0;
  color: #999;
  text-decoration: none;
}
